<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>HTML5</title>
        <link rel="stylesheet" href="reset.css">
        <link rel="stylesheet" href="style.css">
        <style>
        </style>
    </head>

    <body>
        <div class="wrapper">
            <nav>
                <p>text</p>
            </nav>
            
            <main>
                <input placeholder="Введите имя" class="input-name semi-text">
            </main>
        </div>
    </body>
</html>