.wrapper {
    width: 100vw;
    height: 100vh;
    background: #333;
    color: #fff;
    display: flex;
}

nav {
    width: 400px;
    height: 100vh;
    flex-shrink: 0;
    border-right: 2px solid #57e265;
}

main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 14px;
}

input {
    padding: 8px 20px;
    border-radius: 6px;
    border: 2px solid #57e265;
    background: #333;
}

input::placeholder {
    color: #f00;
}

.input-name {
    width: 50%;
}

.semi-text {
    color: #7d7d7d;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
